<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Log yourself in :c!</title>
    </head>
<body>
    <div><img src="static\imagethree.png" class="center"></div>
    <p><h1>Log-in to Continue!</h1></p>
    <p><h3>Click <a href=/login><button>here</button></a> to Login</h3></p>
    <p><h3>Click <a href=/registration><button>here</button></a> to Register</h3></p>
<footer>
    <p>Author:<img src="/static\imagetwo.png"></p>
    <p><a href="mailto:kyle.johnson@faculty.umgc.edu">kyle.johnson@faculty.umgc.edu</a></p>
    <p><h3>Click <a href=/><button>here</button></a> to Return Home</h3></p>
</footer>
</body>
</html>