<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Welcome to Pictures of {{name}}!</title>
    </head>
<body>
    <p><h1>Welcome to Pictures of {{name}}!</h1></p>
    <!--- Here we are including links to external websites-->
    <p><img src={{url}} alt={{name}}></p>
    <p><a href={{url}}>This image can be found here</a></p> 
<footer>
    <p>Author:<img src="/static\imagetwo.png"></p>
    <p><a href="mailto:kyle.johnson@faculty.umgc.edu">kyle.johnson@faculty.umgc.edu</a></p>
    <p><h3>Click <a href=/><button>here</button></a> to Return Home</h3></p>
</footer>
</body>
</html>