<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Welcome to Flower And State Information!</title>
    </head>
<body>
    <p><h1>Welcome to Flower And State Information!</h1></p>
    <p><h3>Click <a href=/flowers/states><button>here</button></a> to View State Information</h3></p>
    <p><h3>Click <a href=/resetpassword><button>here</button></a> to Reset Your Password</h3></p>
<footer>
    <p>Author:<img src="/static\imagetwo.png"></p>
    <p><a href="mailto:kyle.johnson@faculty.umgc.edu">kyle.johnson@faculty.umgc.edu</a></p>
    <p><h3>Click <a href=/><button>here</button></a> to Return Home</h3></p>
</footer>
</body>
</html>