<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Welcome to The Website!</title>
    </head>
<body>
    <div><img src="static\imageone.png" class="center"></div>
    <p><h1>Welcome to My Website!</h1></p>
    <p><h2>The current Date and Time is: {{date_time}}</h2></p>
    <!-- Variable passed for current Date And time-->
    <p><h3>Click <a href=/login><button>here</button></a> to Login</h3></p>
    <p><h3>Click <a href=/registration><button>here</button></a> to Register</h3></p>
<footer>
    <p>Author:<img src="/static\imagetwo.png"></p>
    <p><a href="mailto:kyle.johnson@faculty.umgc.edu">kyle.johnson@faculty.umgc.edu</a></p>
    <p><h3>Click <a href=/><button>here</button></a> to Return Home</h3></p>
</footer>
</body>
</html>