<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Welcome to State Information!</title>
    </head>
<body>
    <p><h1>Welcome to State Information!</h1></p>
<table style="width:100%">
  <tr>
    <th>State</th>
    <th>Capital</th>
    <th>Population</th>
    <th>State Flower (Click to view)</th>
    <th>Google Search</th>
  </tr>
  {{states_list|safe}}
</table>
<footer>
    <p>Author:<img src="/static\imagetwo.png"></p>
    <p><a href="mailto:kyle.johnson@faculty.umgc.edu">kyle.johnson@faculty.umgc.edu</a></p>
    <p><h3>Click <a href=/><button>here</button></a> to Return Home</h3></p>
</footer>
</body>
</html>